/*------------------------------------
 *
 * Lacre.io Main style Sheet
 * 05-08-2022
 * ------------------------------------*/

/* Fonts */

@import url("fonts.css");
/*@import url("fork-awesome/css/fork-awesome.min.css");
@import url("line-awesome/1.3.0/css/line-awesome.min.css");*/

/* Normalize - https://github.com/necolas/normalize.css/ */

@import url("normalize.css");


/* Defaults
 * ------------------------------------*/

@import url("defaults.css");

/* General
 * ------------------------------------*/

/* body { background: #203040; color: #E3DEDB; } /* already set in default.css */

.page-fill {
   min-height: 150px;
}

.banner {
  position: relative;
  overflow:hidden;
  z-index: 999;
  pointer-events: none;
}

.banner img {
  width: 70%;
  margin: 0 15%;
}

.main-nav {
  width: 80%;
  margin: 0 auto;
}

.ribbon {
  display: inline-block;
  background-color: #203040;
  margin: auto;
  width: 60%;
  padding-bottom: 35%;
  /*height: 20rem;*/
}

.ribbon img {
  position: absolute;
  left: 15%;
  width: 70%;
}

.columns img {
   width: 150px;
}
