/*------------------------------------

Lacre Media Queries
20-06-2022
------------------------------------*/

/* screenheight less than 800px
------------------------------------*/
@media only screen and (max-height: 800px) {
  ul#nav li.dropdown {
    height: 20px;
  }
}

/* screenwidth less than 1150px
------------------------------------*/
@media only screen and (max-width: 1150px) {

  body{
   width: 100%;
  }

  .columns img {
    display: none;
  }

  /* column widths */

  .column, .columns {
   padding: 0;
}

  .row .five,
  .row .six,
  .row .seven,
  .row .eight,
  .row .nine,
  .row .ten,
  .row .eleven,
  .row .twelve      { width: 100%; }

  .wrapper {
      margin: 0 5%;
  }

  .ribbon {
    width: 100%;
    }

  .ribbon img {
    position: absolute;
    left: 0%;
    width: 100%;
  }



    /* header styles
   ------------------------------------*/

   /* nav-wrap */
   ul#nav li a {
      padding: 8px 8%;
    }

   .dropdown-content {
       display: none;
       z-index: 1;
   }
   .dropdown:hover .dropdown-content {
       display: none;
   }


   /* Contact Section
   ------------------------------------*/


/* mobile wide/smaller tablets
------------------------------------*/

@media only screen and (max-width: 830px) {

   /* mobile navigation
   ------------------------------------*/


   /* Header Styles
   ------------------------------------*/

/* toggle buttons */
#nav-wrap:not( :target ) > a:first-of-type,
#nav-wrap:target > a:last-of-type  {
	   display: block;
}

#nav-wrap > a {
   width: 48px;
   height: 48px;
   background-color: #50162D;
   position: absolute;
   border: none;
   float: right;
   font: 0/0 a;
   text-shadow: none;
   color: transparent;
   top: 0px;
   right: 30px;
}

#nav-wrap > a:before, #nav-wrap > a:after {
    position: absolute;
    border: 2px solid #fff;
    top: 35%;
    left: 25%;
    right: 25%;
    content: '';
}

#nav-wrap > a:after {
  top: 60%;
}

/* End toggle buttons */


#nav-wrap {
     font: 12px 'opensans-bold', sans-serif;
     background: transparent !important;
     letter-spacing: 1.5px;
     width: auto;
     top: 0;
     right: 0;
     display:block;
  }

  ul#nav li {
     display: block;
     height: auto;
     margin: 0 auto;
     padding: 0 4%;
     border-bottom: 1px solid #2D2E34;
     border-bottom-style: dotted;
  }

  ul#logo-right li {
     border-top: 1px solid #2D2E34;
     border-top-style: dotted;
  }

  ul#nav li a {
     display: block;
     margin: 0;
     padding: 0;
     margin: 12px 0;
     line-height: 16px; /* reset line-height from 48px */
     border: none;
     text-align: center;
  }

/* display menu panels */
#nav-wrap:target div#nav-links > ul#nav	{
   display: block;
   padding: 30px 20px 10px 20px;
   background: #1f2024;
   margin: 0 30px;
   float: right;
   width: 150px;
}

#nav-wrap:target div#nav-right > ul#logo-right	{
   display: block;
   padding: 0px 20px 10px 20px;
   background: #1f2024;
   margin: 0 30px;
   float:right;
   width: 150px;
}

/* hide menu panel */
#nav-wrap div#nav-links > ul#nav {
   height: auto;
   display: none;
   clear: both;
   width: 30%;
   float: right;
   position: relative;
   top: 12px;
   right: 0;
}

#nav-wrap div#nav-right > ul#logo-right	{
   height: auto;
   display: none;
   clear: both;
   width: 30%;
   float: right;
   position: relative;
   right: 0;
}



/* Language menu*/

#language {
    position: fixed;
    top: 0px;
    right: 75px;
}

.language-selector .btn {
    font-size: 1.5rem;
    padding: 19px 15px;
}

.language-selector .btn i {
    position: absolute;
    top: 35px;
    right: 20px;
}

.language-selector .dropdown-menu {
  font-size: 1.3rem;
}

.language-selector .dropdown-menu>li>a {
    padding: 12px 15px;
}

   /* Form
   ------------------------------------*/

   #contact label {
      float: none;
      width: 100%;
   }
   #contact input,
   #contact textarea,
   #contact select {
     	margin-bottom: 6px;
      width: 100%;
   }
   #contact button.submit { margin: 30px 0 24px 0; }
   #message-warning, #message-success {
      width: 100%;
      margin-left: 0;
   }


   /* Footer
   ------------------------------------*/

   footer {
     letter-spacing: 0.5px;
     margin-bottom: 0px;
     font-size: 10px;
   }

   footer div#footer-links ul li {
     padding-left: 5px;
     padding-right: 5px;
   }

   /* Icons */
   footer  #footer-icons { display: none; }
   footer  #footer-logo { display: none; }

   /* Go To Top Button */
   #go-top { margin-left: -22px; }
   #go-top a {
   	width: 54px;
   	height: 54px;
      font-size: 18px;
      line-height: 54px;
   }

   /* fullbar */

   .fullbar h3, .fullbar h4, .fullbar h5 {
       line-height: 1.2;
       font-size: 90%;
   }


}



/* mobile narrow
  ------------------------------------*/

@media only screen and (max-width: 600px) {

   body {
     font-size: 0.8rem;
     width: 100%;
   }

   /* mobile navigation
   ------------------------------------*/
   .header {
       top: -1rem;
   }

.main-nav ul li a {
    line-height: 35px;
}

   /* header styles
   ------------------------------------*/




  }
