<div class="two-col">
<div class="two-col-content" style="word-wrap: break-word;">

{% block content %}

{% set colsize = [page.header.leftcol, page.header.rightcol] %}

    <section id="{{ page.header.section_id }}" class="two-col">
       <div class="row">
           {% for key, column in page.content|split('<hr />') %}
               <div class="{{ colsize[key] }} columns">
                  {{ column|raw }}
               </div>
           {% endfor %}
       </div>
     </section>
     {% include 'modular/ribbon.html.twig' %}

{% endblock %}

</div>
</div>
