        <div class="ribbon">
            {% if page.header.ribbon == "left" %}
              <img src="user/themes/lacre-basic/images/left_ribbon.png">
            {% elseif page.header.ribbon == "right" %}
              <img src="user/themes/lacre-basic/images/right_ribbon.png">
            {% elseif page.header.ribbon == "bottom" %}
              <img src="user/themes/lacre-basic/images/bottom_ribbon.png">
            {% endif %}
        </div>
